.index {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.index-h1 {
    text-align: center;
}

.start-text {
    font-size: 20px;
    line-height: 25px;
    width: 40%;
}

.groda {
    width: 50%;
    height: auto;
    margin-left: 100px;
    border-radius: 20%;
    box-shadow: 10px 10px rgba(32, 32, 32, 0.5);
}

@media (max-width: 1024px) {
    .index {
        justify-content: center;
    }

    .start-text {
        width: 80%;
    }

    .groda {
        margin-left: 0;
        width: 90%;
        box-shadow: none;
    }
}

@media (max-width: 500px) {
    .start-text {
        font-size: 16px;
        line-height: 20px;
    }
}
