@import 'variables';

.landingpage {
    display: grid;
    gap: 2em 2em;
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
}

.landingpage h2 {
    color: $font-dark-color;
    background-color: $box-h2-background-color;
    text-align: center;
    margin-top: 0;
    padding-top: 25px;
    height: 60px;   
}

.kmom-box {
    background-color: $box-background-color;
    border: 1px solid $border-color;
    height: 350px;
    margin: 10px;
    display: grid;
    grid-column: span 1;
    grid-template-rows: 100px 100px auto;
    color: $box-font-color;
}

.kmom-box p {
    margin-left: 10px;
    color: $box-font-color;
}

.kmom-box a {
    justify-self: end;
    align-self: end;
    font-size: 24px;
    margin: 10px;
}

.kmom-box a i{
    color: $box-font-color;
}

.kmom-box.project {
    grid-column: span 3;
}

@media (max-width: 1024px) {
    .landingpage h1 {
        grid-column: span 2;
    }
    
    .kmom-box.project {
        grid-column: span 2;
    }
}

@media (max-width: 768px) {
    .landingpage h1 {
        grid-column: span 1;
    }
    
    .kmom-box.project {
        grid-column: span 1;
    }
}
