.landingpage .subpage {
    display: grid;
    gap: 2em 2em;
    grid-template-columns: 10% 80%;
}

.landingpage .subpage h1 {
    grid-column: span 2;
    justify-self: center;
}

.landingpage .links {
    display: grid;
    grid-column: span 1;
    justify-self: center;
    font-size: 16px;
}

.landingpage .text {
    background-color: $box-background-color;
    border: 2px solid $border-color;
    border-radius: 20px;
    margin-bottom: 10px;
}

.landingpage .text p {
    color: $box-font-color;
}

.landingpage .links a {
    margin-top: 10px;
}

.landingpage .active {
    color: $link-color-dark;
}

@media (max-width: 768px) {
    .landingpage .subpage {
        grid-template-columns: 100%;
    }

    .landingpage .subpage h1 {
        grid-column: span 1;
    }
    
    .landingpage .links {
        display: none;
    }
}
