@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'blockquotes';
@import 'code';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Mono&display=swap');
@import 'report';
@import 'reportsubpage';
@import 'analysis';
@import 'analysissubpage';
@import 'color_swabs';
@import 'gallery';

body {
    background-color: $background-color;
}

* {
    color: $font-color;
    font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Mono', monospace;
}

i {
    font-size: 32px;
}

.main {
    padding: 0 20px 0 20px;
}

.footer {
    border-top: 2px solid $border-color;
    text-align: center;
    margin-bottom: 10px;
}

.nav a {
    color: $font-color;
}

.groda {
    width: $img-width;
    border-radius: 20%;
    box-shadow: 10px 10px rgba(32, 32, 32, 0.5);
}

@media (max-width: ($img-width + 200px)) {
    .groda {
        width: 100%;
        box-shadow: none;
    }
}
